/* #180A0A
#711A75
#F10086
#F582A7 
#20115b*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    /* background-color: #060505; */
}

.todo-container{
    width: 1000px;
    height: 88vh;
    display: flex;
}


.status{
    width: 25%;
    position: relative;
    background: #9999997b;
    padding: 60px 0.5rem 1rem;
}

.status:nth-child(even){
    background-color: #7777777b;
}

.status h2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
}

.add-btn{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    width: 100%;
    background: #3737378b;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-btn:hover{
    transform: scale(0.95);
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.todo .close{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    top: 0;
    color: #ccc;
    transition: 0.2s;
    cursor: pointer;
}

.todo .close:hover{
    color: red;
}