/* #180A0A
#711A75
#F10086
#F582A7 
#20115b*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;

}